<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jasmine Banchereau</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="responsive resume">
    <meta name="author" content="jasmine l'abeille">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src="static/fontawesome/js/all.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="static/css/orbit-5.css">
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="static/images/profile.png" alt="" />
                <h1 class="name">Jasmine</h1>
                <h3 class="tagline">data scientist junior spécialisée en IA</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: jasmine@email.com">jasmine@email.com</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="tel:0123 456 789">(0033) 12 45 67 89</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/jasmine-banchereau-9a43a296/" target="_blank">linkedin.com/jasmine/</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/BeeJasmine/" target="_blank">github.com/beejasmine</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">formation</h2>
                <div class="item">
                    <h4 class="degree">Data Science & IA</h4>
                    <h5 class="meta">L'école IA de Microsoft</h5>
	                    <div class="time">2020 - 2021</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">BTS Communication</h4>
                    <h5 class="meta">ISCG</h5>
                    <div class="time">2014 - 2016</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Langues</h2>
                <ul class="list-unstyled interests-list">
                    <li>français <span class="lang-desc">(natif)</span></li>
                    <li>english <span class="lang-desc">(professional)</span></li>
                    <li>italiano <span class="lang-desc">(elementare)</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">passions</h2>
                <ul class="list-unstyled interests-list">
                    <li>moto</li>
                    <li>cosmétologie</li>
                    <li>cuisine</li>
                    <li>golf, yoga, roller, vélo & marche</li>

                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>profil</h2>
                <div class="summary">
                    <p>Je recherche une alternance de 12 mois, dès octobre 2020,  aux côtés d’une équipe novatrice dans le domaine de l’IA. Comme une abeille contribue à développer sa ruche, je m'investis dans ce que j'entreprends !</p>
                    <br />
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>mes expériences professionnelles</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">coursière</h3>
                            <div class="time">01/2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Paris et sa petite couronne</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Plis & colis, fleurs & autres denrées, livrés été & hiver, de jour comme de nuit, à scooter électrique ou thermique et à vélo avec epicery, Kol, Nestor, PopChef, Frichti, MiamMiamDelivery, TransportGranger, Ubereats, Deliveroo, Sushishop... </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">community manager</h3>
                            <div class="time">10/2016 - 12/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Eden Insight, institut d'études du consommateur</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>﻿﻿﻿animation d’une communauté d’études pour l’Oréal (envois de colis, animation par topic via le site, synthèses hebdomadaires des opinions, calculs de statistiques, développement web [1 site par communauté])</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">chef de projet</h3>
                            <div class="time">09/2015 - 05/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">chez L'Affreux Bonhomme, agence de vidéos</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>﻿﻿﻿﻿• suivi des demandes-clients → reporting aux créatifs ;</p>
                        <p>• création d'une base de données de prospects qualifiée (~500 contacts) ;</p> 
                        <p>• prise de rendez-vous (suivi de projet, prospection, partenariat).</p>  
                        <br />
                        <br />
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->


            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>compétences informatiques</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
							    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                  
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">pack Adobe &amp; pack Office</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 

